 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 836px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 57px auto 0 33px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -52px 33px 0 auto;
}

.u-section-1 .u-slider-1 {
  min-height: 553px;
  width: 1135px;
  height: auto;
  margin: 33px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-1 .u-text-2 {
  margin: 98px 0 0;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 73px;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 85px 0 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-5 {
  margin: 55px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 87px 0 0;
}

.u-section-1 .u-carousel-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-text-7 {
  margin: 38px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 77px 0 0;
}

.u-section-1 .u-carousel-item-5 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-text-9 {
  margin: 44px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 98px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}