 .label{
   left:30px;
 }
 .u-section-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  margin: 34px calc(((100% - 1200px) / 2) + 13px) 0 calc(((100% - 1200px) / 2) + 912px);
}

.u-section-1 .u-text-2 {
  margin: -36px auto 0 calc(((100% - 1200px) / 2) + 342px);
}

.u-section-1 .u-slider-1 {
  width: 716px;
  min-height: 451px;
  margin: -36px auto 0 calc(((100% - 1200px) / 2) + 22px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/GOALIE.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 313px auto 0;
}

.u-section-1 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/win.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-5 {
  width: 409px;
  font-size: 1.5rem;
  margin: 363px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-1 .u-image-3 {
  width: 383px;
  height: 426px;
  margin: -439px calc(((100% - 1200px) / 2) + -33px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 665px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 268px);
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-left: calc(((100% - 940px) / 2) + 22px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + -33px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 445px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 205px);
  }

  .u-section-1 .u-slider-1 {
    margin-left: calc(((100% - 720px) / 2) + 4px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + -33px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 265px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 154px);
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + -33px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 65px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 97px);
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 378px;
    margin-right: calc(((100% - 340px) / 2));
  }
}