.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1227px;
  margin: 20px -13px 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1072px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px 598px 0 68px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 184px;
  margin: -36px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -39px 65px 0 auto;
}

.u-section-1 .u-products-1 {
  width: 832px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 921px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-1 .u-image-1 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-1 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-1 .u-image-2 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-2 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 10px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 15px;
}

.u-section-1 .u-image-3 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-3 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 10px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 15px;
}

.u-section-1 .u-image-4 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-4 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 10px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 15px;
}

.u-section-1 .u-image-5 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-5 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 10px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-5 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 15px;
}

.u-section-1 .u-image-6 {
  height: 308px;
  margin: 27px 15px 0;
}

.u-section-1 .u-group-6 {
  width: 198px;
  min-height: 100px;
  background-size: auto;
  margin: -52px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 10px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  margin: 0 2px;
}

.u-section-1 .u-product-price-6 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 1.25rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1072px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 1.5rem;
  background-image: none;
  margin: 25px auto 0;
  padding: 29px 61px 30px;
}

.u-section-1 .u-shopping-cart-1 {
  height: 66px;
  width: 66px;
  margin: 16px auto 0 16px;
}

.u-section-1 .u-icon-8 {
  padding: 0;
}

.u-section-1 .u-slider-1 {
  width: 301px;
  min-height: 352px;
  margin: 51px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/nikead.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 16px;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/adidasad.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 60px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-1 .u-slider-2 {
  width: 301px;
  min-height: 338px;
  margin: 22px auto 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/crepawayad.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 16px;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../static/images/rdad.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 60px;
}

.u-section-1 .u-carousel-control-3 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 804px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-1 .u-products-1 {
    width: 668px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 787px;
  }

  .u-section-1 .u-image-1 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-4 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-5 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-6 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 804px;
  }

  .u-section-1 .u-slider-1 {
    width: 268px;
  }

  .u-section-1 .u-slider-2 {
    width: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 324px;
  }

  .u-section-1 .u-products-1 {
    width: 510px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1230px;
  }

  .u-section-1 .u-image-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-slider-1 {
    width: 202px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-slider-2 {
    width: 202px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 124px;
  }

  .u-section-1 .u-products-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 116px;
    margin-right: initial;
    margin-left: initial;
  }
}