.error {
  position: relative;
  text-align: center;
  top : 20px;
  left : 20px;
}
.label{
  position:absolute;
  left:30px;
  bottom:25px;
}
.u-section-1 {
  background-image: none;
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 calc(((100% - 1200px) / 2) + 431px);
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px calc(((100% - 1200px) / 2) + 315px) 60px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 338px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + 185px);
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 259px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
    margin-right: calc(((100% - 720px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 194px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}